{
  "*.{md,json}": ["./node_modules/.bin/prettier --cache --write"],
  "*.{js,jsx,ts,tsx}": [
    "./node_modules/.bin/eslint --cache --fix",
    "./node_modules/.bin/prettier --cache --write"
  ],
  "*.{css,less}": [
    "./node_modules/.bin/stylelint --cache --fix",
    "./node_modules/.bin/prettier --cache --write"
  ]
}
